:root {
	--surface: #0a0a0a;
	--onSurface: #ffffff;
	--shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

html {
	height: 100%;
	color-scheme: dark;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family:
		var(--font-iawriter), ui-sans-serif, system-ui, -apple-system, "Segoe UI",
		Roboto, "Helvetica Neue", Arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--onSurface);
	background: var(--surface);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
